[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
loggly-python-handler = "*"
lxml = "*"
nose = "*"
psycopg2 = "*"
maxminddb-geolite2 = "*"
requests = "*"
pycryptodome = "*"
uszipcode = "*"
Flask = "*"
Flask-Bcrypt = "*"
Flask-SQLAlchemy-Session = "*"
Flask-Babel = "*"
GeoAlchemy2 = "*"
PyJWT = "*"
SQLAlchemy = "*"
uWSGI = "*"
Pillow = "*"

[dev-packages]
future = "*"
coverage = "*"
pep8 = "*"
pycodestyle = "*"
flake8 = "*"

[requires]
python_version = "3.9"
