feedparser
flask
flask-bcrypt
flask-sqlalchemy-session
geoalchemy2
pyjwt
loggly-python-handler
lxml
nose
psycopg2
maxminddb-geolite2
requests
sqlalchemy
uwsgi
Flask-Babel
pycryptodome
pillow
uszipcode
