attrs==19.1.0
autopep8==1.4.3
Babel==2.5.1
bcrypt==3.1.7
certifi==2017.11.5
cffi==1.12.3
chardet==3.0.4
click==6.7
feedparser==5.2.1
Flask==0.12.2
Flask-Babel==0.11.2
Flask-Bcrypt==0.7.1
Flask-SQLAlchemy-Session==1.1
futures==3.2.0
GeoAlchemy2==0.4.0
idna==2.6
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
loggly-python-handler==1.0.0
lxml==4.1.1
MarkupSafe==1.0
maxminddb==1.4.1
maxminddb-geolite2==2018.703
nose==1.3.7
olefile==0.44
pathlib-mate==0.0.15
Pillow==4.3.0
psycopg2==2.7.3.2
pycodestyle==2.5.0
pycparser==2.19
pycryptodome==3.4.7
PyJWT==1.5.3
python-geoip==1.2
python-geoip-geolite2==2015.303
pytz==2017.3
requests==2.18.4
requests-futures==0.9.7
scandir==1.10.0
six==1.12.0
SQLAlchemy==1.1.15
urllib3==1.22
uszipcode==0.2.2
uWSGI==2.0.15
Werkzeug==0.13
